#connect {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  position: relative;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

form {
  border: 1px solid;
  padding: 2rem;
}

h6 {
  margin: 5rem;
  text-align: center;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  /* background-color: antiquewhite; */
}

form div {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  /* font-weight: bold; */
}

input, textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit{
  background-color: #2866a9;
}
button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #62664b;
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
