.content {
  /* right: 0; */
  padding-bottom: 8rem;
  max-width: 1550px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: antiquewhite;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.portfolio-intro {
  margin-top: 9rem;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5rem;
  padding-left: 7.8rem;
  /* flex: 1; */
  /* padding: 20px; */
  box-sizing: border-box;
  background-color: antiquewhite;
}

.portfolio-intro span {
  margin: 0;
  font-size: 4.5rem;
  color: rgb(16, 16, 17);
  padding-bottom: 0;
}

.portfolio-intro p {
  /* text-align: right; */
  margin: 0;
  padding: 0;
  font-size: 2rem;
  display: -webkit-inline-box;
}

.portfolio-intro p span {
  font-size: 2.2rem;
  color: rgb(19, 18, 20);
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.profile-image {
  margin-top: 6rem;
  margin-left: 0;
  margin-right: 8rem;
  padding-top: 5rem;
  padding-left: 7.8rem;
}

.profile {
  width: 350px;
  height: 350px;
  /* border-radius: 50%; */
  border-radius: 32% 68% 41% 59% / 18% 35% 65% 82%;
  border: 2px solid #ccc;
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 1;
  padding: 0px;
  /* box-sizing: border-box; */
}

.profile:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */

@media (max-width: 1178px) {
  .profile-image {
    margin-top: rem;
  }
}

@media (max-width: 768px) {
  .side-by-side-container {
    flex-direction: column;
  }

  .text-content,
  .image-content {
    width: 100%;
    padding: 10px;
  }
}